<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CG Interview Tool</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800"
      rel="stylesheet"
    />
    <link href="/css/blk-design-system.css?v=1.0.0" rel="stylesheet" />
  </head>

  <body
    class="index-page"
    style="background-image: linear-gradient(135deg, rgb(45, 194, 111) 0%, rgb(34, 168, 180) 100%);"
  >
    <div class="wrapper">
      <div class="page-header header-filter">
        <div class="container">
          <div class="content-center pb-5">
            <h1 class="h1-seo">
              <span style="font-weight: bold">CG </span>Interview Tool
            </h1>
            <h4>
              Looks like this interview is not scheduled or has not started yet.
            </h4>
            <a
              href="/"
              class="btn btn-outline-primary"
              style="top: 20px; right:20px"
              >Home</a
            >
          </div>
        </div>
      </div>
    </div>
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
  </body>
</html>
